.dark{
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    position: absolute;
}
.centered{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    transform: translate(-50%,-50%);
}
.modal{
    position: fixed;
    flex-direction: column;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    display: flex;
    background-color: rgb(255, 255, 255);
    width: 40%;
    height: 40%;
    border-color: rgb(150, 201, 200);
    border-style: groove;
    border-width: 1rem;
    border-radius: 2rem;
}
.header{
    background-color: aqua;
    height: 10%;
    max-height: 25%;
    padding: 5%;
    text-align: center;
    font-size: 2rem;
}
.body{
    height:80% ;
    text-align: center;
    font-size: 1.5rem;
    padding: 2rem;
}
.footer{
 height: 10%;
 padding: 1rem;
 display: flex;
 justify-content: center;
}
.footer button{
    width: 5rem;
    height: 2.5rem;
    font-size: 1.5rem;
    border-radius: 5px;

}